
.invoice-summary{
        display: grid;
        place-items: center;
    h2{
        margin: 20px 0;
    }
    p{
        
        margin: 10px 0;
    }
}
.products{
    margin-top: 20px;
          display: grid;
        place-items: center;
        .no-items{
            margin: 20px 0;
            font-size: 18px;
            font-weight: bold;
            color: #666;
        }
        .total{
            margin-top: 50px;
            font-size: 26px;
        }
}
.produkct{
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}