.products>button {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    cursor: pointer;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .errors {
        color: red;
        font-size: 14px;
        // margin: 10px 0;
        text-align: center;
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 16px;
        }
    }
}

.submit-button {
    display: flex;
    justify-content: center;

    button {
        cursor: pointer;
        font-size: 26px;
        padding: 10px 20px;

    }
}